<!DOCTYPE html>
<html {{ language_attributes() }}>
<head>
	<meta charset="{{ site.charset }}">
	<link rel="pingback" href="{{ site.pingback_url }}">

	{{ wp_head() }}
</head>

<body {{ body_class() }}>
	<header>
		<a href="{{ site.url }}">
			<strong>{{ site.name|e }}</strong>

			{% if site.description %}
				<span>{{ site.description|e }}</span>
			{% endif %}
		</a>

		{{ site.menu( 'main-menu' ) }}
	</header>

	<section id="content">
		{% block content %}
			This page has no content.
		{% endblock %}
	</section>

	<footer id="footer">
		<p class="copy">&copy; {{ now.format( 'Y' ) }} {{ site.name|e }}</p>

		{{ site.menu( 'footer-menu' ) }}
	</footer>

    {{ wp_footer() }}
</body>
</html>
