{% extends 'base.twig' %}

{% block content %}
	{% if title %}
	<h1>{{ title }}</h1>
	{% endif %}

	{% for post in query %}
		<div class="{{ post.css_class }}">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

			{{ post.excerpt }}
		</div>
	{% else %}
		<p>There are no posts yet.</p>
	{% endfor %}
{% endblock %}
