{% extends 'base.twig' %}

{% block content %}
<div class="{{ post.css_class }} type-{{ post.type }}" id="post-{{ post.id }}">
	<h1>{{ post.title }}</h1>

	<p class="meta">Starts on {{ post.start }} and ends on {{ post.end }}.</p>

	{{ post.text }}
</div>
{% endblock %}